In [28]:
![ERD](/Users/JoshuaRohn/Documents/GitHub/Books/ERD.png)

/bin/bash: -c: line 0: syntax error near unexpected token `/Users/JoshuaRohn/Documents/GitHub/Books/ERD.png'
/bin/bash: -c: line 0: `[ERD](/Users/JoshuaRohn/Documents/GitHub/Books/ERD.png)'

In [10]:
import mysql.connector
import pandas as pd

In [11]:
cnx = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Lawrence12",
    database="Book"
)

In [12]:
cursor = cnx.cursor()

In [13]:
cursor.execute("SHOW TABLES;")

In [14]:
table_names = cursor.fetchall()

In [15]:
for table in table_names:
    print(table[0])

authors
books
favorites
user

In [23]:
query = """
SELECT B.title AS BookTitle, A.author_name AS AuthorName
FROM user U
JOIN favorites F ON U.id = F.user_id
JOIN books B ON F.book_id = B.id
JOIN authors A ON B.author_id = A.id
WHERE U.first_name = 'John' AND U.last_name = 'Doe';
"""

In [24]:
cursor.execute(query)

In [25]:
results = cursor.fetchall()
for row in results:
    book_title, author_name = row
    print(f"Book Title: {book_title}, Author Name: {author_name}")

Book Title: It, Author Name: Stephen King
Book Title: The Shining, Author Name: Stephen King
Book Title: The Great Gatsby, Author Name: F.Scott Fitgerald